<!DOCTYPE html>
<html>
	<head>
		<title>pyGOAT - Host, Run, and Code Python in the Cloud</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

		<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
		<script src="{{ url_for('static', filename='codemirror/mode/javascript/javascript.js') }}"></script>
	</head>