<div class="container">
	<table class="table">
	  <thead>
	    <tr>
	    	<th>ID</th>
	    	<th>Name</th>
	    	<th>Contents</th>
	    	<th>Keys</th>
	    	<th>Status</th>
	    	<th>Tier</th>
	    	<th>Roles</th>
	    	<th>Created</th>
	    </tr>
	  </thead>

	  <tbody>
    	<tr>
    		<td>j547fh34f2</td>
    		<td>example</td>
    		<td>3</td>
    		<td>2</td>
    		<td>running</td>
    		<td>free</td>
    		<td>2</td>
    		<td>January 8, 2017</td>
    	</tr>
      </tbody>
    </table>
</div>


<div class="section">
	
	<div class="container">
		
		<div class="tabs">
		  <ul>
		    <li class="is-active"><a>General</a></li>
		    <li><a>Usage</a></li>
		    <li><a>Keys</a></li>
		    <li><a>Roles</a></li>
		  </ul>
		</div>

		<div class="section">

			<div class="columns">
				<div class="column is-two-thirds">
					<h5 class="title is-5">Version</h5>
				</div>
			</div>

			<div class="columns">
				<div class="column is-two-thirds">
					<h5 class="title is-5">Database</h5>
				</div>
			</div>

			<div class="columns">
				<div class="column is-two-thirds">
					<h5 class="title is-5">Installed Packages</h5>
				</div>

				<div class="column">
					<div class="box">
						<h5 class="title is-5">Install New Package</h5>
					</div>
				</div>
			</div>

			<div class="columns">
				<div class="column is-two-thirds">
					<h5 class="title is-5">Backups</h5>
				</div>
			</div>

		</div>

	</div>
	
</div>